<!DOCTYPE html>
<html>

<head>
    <title>express</title>
    <meta charset="utf-8">
    <title>Example App</title>
</head>

<body>
    <div>
        <a href={{EX_URL}}/ex/object>object</a>
        <a href={{EX_URL}}/ex/json>json</a>
        <a href={{EX_URL}}/ex/html>html</a>
        <a href={{EX_URL}}/ex/form>form</a>
        <a href={{EX_URL}}/ex/multer>multer</a>
        <a href={{EX_URL}}/ex/login>login</a>
    </div>
    {{{body}}}
</body>

</html>
